<h2><%= @topic.title %></h2>

<div class="input-field">
  <textarea class="materialize-textarea"></textarea>
  <button class="btn">Add Comment</button>
</div>

<ul class="collection">
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.createSocket(<%= @topic.id %>, <%= @user.id %>);

    console.log(document.querySelector(".list-link__destroy"));
  });
</script>
